
# Angular
**/node_modules/
**/dist/
**/.angular/

# Environment files
**/appsettings.Development.json
**/appsettings.json
**/appsettings.Production.json
**/.env

# User secrets
**/secrets.json

# Visual Studio
.vs/
*.user
*.suo

# .NET build output
**/bin/
**/obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Environment
.env